{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class = "card-content">
        <h1>{{ bachelor.name }}</h1>
        <h3>Net Worth: ${{ bachelor.net_worth|intcomma }} </h3>
        <p><b>Age: </b>{{ bachelor.age }}</p>
        <p><b>Location: </b>{{ bachelor.location }}</p>
        <p><b>Where'd He Get That Money? </b>{{ bachelor.wealth_origin }}</p>
        <p><b>Potential Dealbreaker? </b>{{ bachelor.dealbreaker }}</p>
        <div class="card-action">
                <a class = "btn" href="{% url 'bachelor_update' bachelor.id %}">Edit</a>
                <a class = "btn" href="{% url 'bachelor_delete' bachelor.id %}">Delete</a>
        </div>
</div>

{% endblock %}